@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat:repeat-x;
}
<<<<<<< HEAD
::-webkit-scrollbar{
  background-color:  #2d2d2d;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color:#FF0000;
  border-radius: 5px;
}
=======
::-webkit-scrollbar-thumb{
  color: red;
  background-color: red;
}
>>>>>>> 58b0eb9666d10139d5b4d7ba411843a49aa7b12c
