@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat:repeat-x;
}
::-webkit-scrollbar{
  background-color:  #2d2d2d;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color:#FF0000;
  border-radius: 5px;
}
